In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = spark.builder.appName('SupaBase').config("spark.jars","/home/pdp28/spark_jars/postgresql-42.7.5.jar")\
        .getOrCreate()

25/04/22 22:36:56 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [34]:
df = spark.read.format('jdbc')\
.option('url','jdbc:postgresql://aws-0-ap-south-1.pooler.supabase.com:5432/postgres')\
.option('password','999428@Damo')\
.option('user','postgres.nsezfgdhttituosvrecd')\
.option('driver','org.postgresql.Driver')\
.option('dbtable','div')\
.load()

In [35]:
def display(x):
    return x.toPandas()

In [36]:
display(df)

Empty DataFrame
Columns: [id, created_at]
Index: []

In [89]:
data = [(1,'pdp'),(2,'dk'),(3,'maha')]
schema = ''' ID integer , Name string '''

In [90]:
ndf = spark.createDataFrame(data, schema)

In [91]:
display(ndf)

   ID  Name
0   1   pdp
1   2    dk
2   3  maha

In [92]:
ndf.write.format('jdbc')\
.option('url','jdbc:postgresql://aws-0-ap-south-1.pooler.supabase.com:5432/postgres')\
.option('user','postgres.nsezfgdhttituosvrecd')\
.option('dbtable','newetl')\
.option('password','999428@Damo')\
.option('driver','org.postgresql.Driver')\
.mode('append')\
.save()